	<section>
		<h2>Remote Access</h2>
		<span class="image fit"><img src="images/cluster.jpg" alt="" />
</span>
		<p>
        The Workstation client works over VPN. However, if you prefer not to install the Workstation client on your machine, there are some other ways that you can access Workstation data.
        </p>
        <p>
		To see your imagery in a web browser, the <a href="{{ site.urls.docs.remote }}">Webstation</a> allows browsing of the same secondary data as the Workstation.
		</p>
		<p>
		Another alternative to installing the Workstation is to run the Workstation client on Janelia's compute cluster and stream compressed video to a client machine on Janelia's network or remotely via VPN. You can start a NoMachine session to connect to the cluster and easily run the Workstation by selecting it from the Janelia application menu.
		</p>
		<ul class="actions">
			<li><a href="{{ site.urls.webstation }}" class="button alt">Access Webstation</a></li>
			<li><a href="{{ site.urls.docs.remote }}" class="button alt">Access NoMachine</a></li>
		</ul>
	</section>

